<p id="notice"><%= notice %></p>

<h1>Times</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th width="20">Membros</th>
      <th>Cursos</th>
      <th width="20">Número de Avaliações</th>
      <th width="20">Avaliado por todos os avaliadores?</th>
      <th width="40">Avaliadores que ainda não avaliaram</th>
      <th>Nota</th>
      <th>Marcar que alunos apresentaram</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.list_students %></td>
        <td><%= team.list_courses %></td>
        <td><%= team.times_appraised %></td>
        <td><%= team.appraised_by_all_appraisers? ? "Sim" : "Não" %></td>
        <td><%= team.list_missing_appraisal_by %></td>
        <td><%= team.appraisal_points %></td>
        <td><%= link_to 'Alunos apresentaram', { controller: "teams", action: "mark_students_as_presented", team: team }  %></td>
        <td>
          <%= link_to 'Show', team %>
          <%= link_to 'Edit', edit_team_path(team) %>
          <%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Time', new_team_path %>
