<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @appraisal.team.name %>
</p>

<p>
  <strong>Avaliador:</strong>
  <%= @appraisal.appraiser.name %>
</p>

<p>
  <strong>Software Funcionando:</strong>
  <%= @appraisal.working_software %>
</p>

<p>
  <strong>Processo:</strong>
  <%= @appraisal.process %>
</p>

<p>
  <strong>Pitch:</strong>
  <%= @appraisal.pitch %>
</p>

<p>
  <strong>Inovação:</strong>
  <%= @appraisal.inovation %>
</p>

<p>
  <strong>Time formation:</strong>
  <%= @appraisal.team_formation %>
</p>

<%= link_to 'Edit', edit_appraisal_path(@appraisal) %> |
<%= link_to 'Back', appraisals_path %>
