<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @appraisal.team.name %>
</p>

<p>
  <strong>Appraiser:</strong>
  <%= @appraisal.appraiser.name %>
</p>

<p>
  <strong>Working software:</strong>
  <%= @appraisal.working_software %>
</p>

<p>
  <strong>Process:</strong>
  <%= @appraisal.process %>
</p>

<p>
  <strong>Pitch:</strong>
  <%= @appraisal.pitch %>
</p>

<p>
  <strong>Inovation:</strong>
  <%= @appraisal.inovation %>
</p>

<p>
  <strong>Team formation:</strong>
  <%= @appraisal.team_formation %>
</p>

<%= link_to 'Edit', edit_appraisal_path(@appraisal) %> |
<%= link_to 'Back', appraisals_path %>
