<p id="notice"><%= notice %></p>

<h1>Appraisers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appraisers.each do |appraiser| %>
      <tr>
        <td><%= appraiser.name %></td>
        <td><%= link_to 'Show', appraiser %></td>
        <td><%= link_to 'Edit', edit_appraiser_path(appraiser) %></td>
        <td><%= link_to 'Destroy', appraiser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appraiser', new_appraiser_path %>
