<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Time:</strong>
  <%= @student.team.present? ? @student.team.name : "Time ainda não escolhido" %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @student.course.name %>
</p>

<%= link_to 'Sugerir time', student_suggest_team_url(@student) %> |
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
