<!DOCTYPE html>
<html>
  <head>
    <title>HackatonaProjarq</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <nav>
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="appraisals">Avaliações</a></li>
          <li><a href="appraisers">Avaliadores</a></li>
          <li><a href="teams">Times</a></li>
          <li><a href="students">Alunos</a></li>
          <li><a href="courses">Cursos</a></li>
       </ul>
     </div>
   </nav>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
