<!DOCTYPE html>
<html>
  <head>
    <title>Hackathon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <div class="text-center">
      <h1 class="display-3">Hackathon of the guris</h1>
    </div>

    <nav>
      <div>
        <ul>
          <% if params["role"] == "appraiser" %>
            <li><%= link_to "Avaliadores", {controller: "appraisers", action: "index"}  %></li>
            <li><%= link_to "Avaliações", {controller: "appraisals", action: "index"} %></li>
            <li><%= link_to "Cursos", {controller: "courses", action: "index"} %></li>
          <% end %>
          <li><%= link_to "Times", {controller: "teams", action: "index"} %></li>
          <li><%= link_to "Alunos", {controller: "students", action: "index"} %></li>
       </ul>
     </div>
   </nav>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
